%tr
  %td
    = link_to category.name, edit_admin_category_path(category)
  %td.text-center
    = link_to admin_category_path(category), :data => { confirm: 'Вы уверены?' }, :method => :delete, class: 'btn btn-xs btn-danger' do
      %i.glyphicon.glyphicon-remove
