.autocomplete_text{
  .btn, span{
    display: block;
    margin: 2em 1em 2em 0;
  }
}

.product_compare_td{
  background: #fff;
  text-align: center;
  .product_articul{
    text-align: right;
  }
  .btn{
    width: 45%;
  }
}

.product_top-card{
  width: 24%!important;
  clear: none!important;
}

.modal{
  .product{
    width: 100%;
  }
}

.product_card{
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 0px 12px #ddd;
  -moz-box-shadow: 0px 0px 12px #ddd;
  -ms-box-shadow: 0px 0px 12px #ddd;
  -o-box-shadow: 0px 0px 12px #ddd;
  box-shadow: 0px 0px 12px #ddd;


  .images-thumbs{
    margin-top: 1em;
    img{
      margin-bottom: 1em;
    }
  }

  & > .product_articul{
    text-align: right;
  }

  .nav-tabs{
    margin-top: 1em;
    li{
      text-align: center;
    }
  }
}

.product_table{
  th{
    text-align: center;
  }
  td,
  tr{
    vertical-align: middle!important;
  }
  .product_image{
    height: 75px;
  }
  .product_quntity{
    vertical-align: middle;
  }
  .product_name{
    height: auto;
    padding: 0;
    margin: 0
  }
}

@media screen and (max-width: 768px){
  .product{
    width: 100%!important;
  }
  .product.list{
    .product_list-left{ width: 40%; }
    .product_list-right{ width: 55%; }
  }
}

.product{
  display: inline-block;
  width: 33%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  vertical-align: top;




  &.list{
    width: 100%;
    padding-bottom: 1em;

    .product_list-left{
      width: 30%;
      display: inline-block;
    }
    .product_list-right{
      width: 65%;
      padding-left: 4%;
      display: inline-block;
      vertical-align: top;
    }

    .product_properties{
      display: block;
      overflow: auto;
      max-height: 350px;
    }
  }

  &_properties{
    font-size: 11px;
    display: none;
    text-align: left;
  }

  &:not(.list):hover{
    overflow: visible;

    .product_inner{
      -webkit-box-shadow: 0px 0px 12px #ddd;
      -moz-box-shadow: 0px 0px 12px #ddd;
      -ms-box-shadow: 0px 0px 12px #ddd;
      -o-box-shadow: 0px 0px 12px #ddd;
      box-shadow: 0px 0px 12px #ddd;
    }
    .product_wrapper{
      z-index: 12;
    }

    .product_properties{
      display: block;
    }
  }

  &:nth-of-type(3n+1){
    clear: left;
  }

  &_wrapper{
    width: 100%;
    padding: 1em;
    margin: auto;
    height: 410px;
    display: block;
    position: relative;
    border-radius: 7px;
    padding: 0;
    margin: 0;
  }

  &_inner{
    background: #fff;
    border-radius: 7px;
    padding: 1em;
    min-height: 390px;
    margin-bottom: 1em;
    position: relative;
    border: #eee solid 1px;

    &.danger{
      border: #CF000F solid 1px;
    }

    &.success{
      border: #2ECC71 solid 1px;
    }

    &.info{
      border: #19B5FE solid 1px;
    }
  }

  &_articul{
    margin-bottom: 1em;
    font-size: 120%;
    text-align: left;
  }

  &_name{
    height: 5em;
    overflow: hidden;
    text-align: center;
  }

  &_cart-button{
    width: 100%;
    margin-bottom: .5em;
  }

  &_instant-button{
    width: 100%;
    margin-bottom: .5em;
  }

  &_compare{
    text-align: center;
    vertical-align: bottom;
    line-height: 2;
  }

  &_special{

    .label{
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 6px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      padding: 8px;
      vertical-align: top;
    }
  }

  &_price{
    text-align: center;
    font-size: 125%;
    height: 2em;
    font-weight: 600;
    color: #22A7F0;
    margin: 0.5em;
  }

  &_old-price{
    color: #BFBFBF;
    font-size: 150%;
    text-decoration: line-through;
    margin-right: 5px;
  }

  &_image{
    img{
      max-width: 100%;
      max-height: 100%;
      height: 120px;
      display: block;
    }
  }

  &_autocomplete{
    position: relative;
    z-index: 15;

    &_inner{
      position: absolute;
      width: 100%;
      z-index: 15;
      background: #fff;
      margin: auto;
      color: #111;
      -webkit-box-shadow: 0px 0px 12px #ddd;
      -moz-box-shadow: 0px 0px 12px #ddd;
      -ms-box-shadow: 0px 0px 12px #ddd;
      -o-box-shadow: 0px 0px 12px #ddd;
      box-shadow: 0px 0px 12px #ddd;
    }

    .product_articul .label{ width: 100%!important }



    .product{
      width: 100%;
      margin: 0;
      padding: 1em 0;
      border-bottom: #efefcc solid 1px;

    }
  }
}

.aside_new{
  [itemprop="telephone"]{
    font-family: 'Courier New';
    a{ color: #333; text-decoration: none; }
    font-size: 125%;
    padding: 5px 0;
  }

  &_phones{
    img{ width: 20px; border-radius: 50% }
  }


}

b.warranty{
  color: #e74c3c;
}

.offer-new-block{
  background: #fff3b5;
  padding: 1em;
  text-align: center;
  margin: auto;
  position: relative;

  .product_price{
    font-size: 220%;
  }
  *{
    vertical-align: bottom;
  }
}
