= form_tag(admin_filters_path, method: :get, enforce_utf8: false) do
  %ul.list-group
    %li.list-group-item= text_field_tag :name, params['name']
  = submit_tag 'Отфильтровать', class: 'btn btn-success'
