.page-header
  %h1 Фильтры

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Значения

    %tbody
      = render @filters
    - if @filters.respond_to?(:current_page)
      %tfoot
        %tr
          %td.text-center
            = paginate @filters
