.page-header
  %h1 Новый фильтр
.row
  = form_for(@filter, url: admin_filters_path) do |f|
    %ul.list-group
      %li.list-group-item= field_for(f, :name)
      %li.list-group-item= field_for(f, :display_name)
    = f.submit 'Отправить', class: 'btn btn-success'
