.page-header
  %h1 Настройки

.row
  .col-md-4
    %ul.list-group
      = render @confs.reject{ |c| c.var =~ /(^txt\.)|(^ck\.)/ }.sort_by(&:created_at)
  .col-md-8
    %ul.list-group
      = render @confs.select{ |c| c.var =~ /^txt\./ }.sort_by(&:created_at)
  .col-md-12
    %ul.list-group
      = render @confs.select{ |c| c.var =~ /^ck\./ }.sort_by(&:created_at)
