.page-header
  = link_to new_admin_order_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новый заказ
  %h1 Заказы

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
        %th
        %th

    %tbody
      - @orders.each do |admin_order|
        %tr
          %td= link_to 'Edit', edit_admin_order_path(admin_order)
          %td= link_to 'Destroy', admin_order, :data => { confirm: 'Вы уверены?' }, :method => :delete
