.page-header
  = link_to admin_orders_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_admin_order_path(@admin_order), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show admin_order

%dl.dl-horizontal
