= link_to presents(product).preview_path, class: 'product-cover mfp-gallery', itemprop: 'url', title: presents(product).seo_meta_title do
  = image_tag presents(product).preview_path, class: 'thumbnail img-responsive lazy', itemprop: 'image', alt: product.name, title: product.name
%br/
