= link_to product.preview_path, class: 'product-cover', class: 'mfp-gallery', itemprop: 'url' do
  = image_tag product.preview_path, class: 'thumbnail img-responsive lazy', itemprop: 'image', alt: product.name, title: product.name
