%div{ itemtype: "http://schema.org/Offer", itemscope: "", itemprop: "offers" }
  .product_price
    %link{ href: "http://schema.org/#{product.price.to_i > 0 ? 'In' : 'OutOf'}Stock", itemprop: "availability"}
    = price_for product
  = render 'products/mini_card/compare_button', product: product
  = render 'products/mini_card/order_buttons', product: product
