- content_for :ogg_meta do
  %meta{ property: "og:type", content: "product" }
  %meta{ property: "og:site_name", content: "evotex" }
  %meta{ property: "og:title", content: product.name }
  %meta{ property: "og:url", content: p_path(id: product, slug: product.slug) }
  %meta{ property: "og:image", content: presents(product).preview_path }
  %meta{ property: "og:description", content: "" }
