- content_for :ogg_meta do
  %meta{ property: "og:type", content: "product" }
  %meta{ property: "og:site_name", content: "evotex" }
  %meta{ property: "og:title", content: product.name }
  %meta{ property: "og:url", content: product_path(product) }
  %meta{ property: "og:image", content: product.preview_path }
  %meta{ property: "og:description", content: "" }
