.tab-content
  #properties.tab-pane.active.fade.in
    = render 'products/card/product_properties', product_properties: product.product_properties.includes(:property).with_value
    %small Характеристики и комплектация могут изменяться производителем без уведомления.
  #description.tab-pane.fade
    %br/
    - if product.video.present?
      .text-center= video_for product.video
    - if false
      %div{ itemprop: 'description' }
        = product.description.to_s.html_safe
  #comments.tab-pane.fade
    = render 'products/card/comments', product: product
