%ul.list-group
  - Markup.active.articles.includes(:seo).each do |article|
    %li.list-group-item= link_to article.name, static_page_path(slug: article.slug, id: article), title: article.seo.try(:title)
