.panel.panel-success
  .panel-heading
    .panel-title Режим работы
  .panel-body
    = Conf['ck.mode_product_card'].html_safe
.panel.panel-success
  .panel-heading
    .panel-title Телефоны
  .panel-body
    = Conf['ck.phones_and_mode'].html_safe
.panel.panel-success
  .panel-heading
    .panel-title Мы вконтакте
  .panel-body
    = Conf['ck.vk_group'].html_safe
