.modal.fade{ id: 'instant-checkout', tabindex: -1, 'data-backdrop' => 'static', 'data-keyboard' => 'false' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss' => 'modal', type: :button }
          %i.glyphicon.glyphicon-remove-circle
        %h4.modal-title Загрузка...
      .modal-body
        .row
          .col-sm-12
            .product_instant-modal
          .col-sm-12
            .order-form
              Пожалуйста, подождите
