- if object.errors.any?
  #error_explanation
    .well.well-sm
      .alert.alert-danger
        #{pluralize(object.errors.count, "ошибка", "ошибок")}.
      %ul.list-group
        - object.errors.full_messages.each do |msg|
          %li.list-group-item
            * #{msg}
