- @q ||= Catalog::Product.ransack
- @random_search_word ||= Catalog::Product.order("RANDOM()").first.try(:name).to_s.split.first.presence

= search_form_for @q, url: search_products_path, id: 'main_search_form' do |f|
  .input-group
    = f.search_field :main_search, class: 'form-control', placeholder: 'Поиск по сайту...', required: true, autocomplete: :off
    .input-group-btn= f.submit 'Найти', class: 'btn btn-success'
.product_autocomplete
  .product_autocomplete_inner{ 'data-search-autocomplete' => true }
- if @random_search_word
  Например:
  = link_to @random_search_word, '#', class: 'search-example'
