.modal.fade{ id: 'vendor-product-scraper-window', tabindex: -1, 'data-backdrop' => 'static', 'data-keyboard' => 'false' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ 'data-dismiss' => 'modal', type: :button } &times;
        %h4.modal-title loading...
      .modal-body
        .row
          .col-xs-12
            \...
