#slides.carousel.slide{ data: { ride: 'carousel' } }
  %ol.carousel-indicators
    - Markup.active.slides.count.times do |i|
      %li{ data: { target: '#slides', 'slide-to' => i, class: ('active' if i == 0) } }
  .carousel-inner
    - Markup.active.slides.each_with_index do |slide, index|
      .item{ class: ('active' if index == 0) }
        = slide.body.html_safe
  %a.left.carousel-control{ href: '#slides', data: { slide: :next } }
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{ href: '#slides', data: { slide: :prev } }
    %i.glyphicon.glyphicon-chevron-right
