- @q ||= Catalog::Product.ransack
.jumbotron
  .container-fluid
    .row
      .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        = render 'shared/main_search_bar'
.container-fluid
  .container
    .row
      .col-xs-12
        - cache ['catalog_menu', Catalog::Taxon.all] do
          = render 'shared/menu_bar'
