%li{ 'data-droppable' => 'product', 'data-product-id' => product.id }
  = link_to product.name, product_path(product)
  - if product.price.present?
    %b
      (
      = product.price
      грн. )
  %ul
    = render product.vendor_products.sort_by(&:price)
