.page-header
  = link_to admin_markups_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_admin_markup_path(@admin_markup), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show admin_markup

%dl.dl-horizontal
