%li.list-group-item{ 'data-id' => filter_value.id, 'data-position' => filter_value.position, 'data-filter-value' => true }
  .pull-right
    = link_to admin_category_remove_filter_value_path(@category, filter_value), class: 'btn btn-xs btn-danger', remote: true, method: :delete do
      %i.glyphicon.glyphicon-remove
  = filter_value.display_name
