[data-draggable='vendorProduct']
{
  z-index: 10;
  &.ui-draggable-dragging{
    z-index: 11;
  }
  &:hover{
    background: #C5EFF7;
    cursor: pointer;
  }
}
.inactive{
  opacity: 0.5;
  }
.bind-to-product
{
  background: #19b5fe!important;

  }
.unbind-vendor-product
{
  background: #F64747;
  li{
    opacity: 0;
    }
  }
[data-droppable='product']

{
  margin: 15px auto;
  [data-scraper-modal]{
    display: none;
  }


  }
[data-catalog-products], [data-vendor-products]
{
  list-style: none;
  padding: 5px!important;
  min-height: 50px;
  border: #dadada dotted 1px;
  ul{
    padding: 0;
    margin: 0;

    }


  }
.product-loading{
  background: red;
  }
