.unknown{ background: #D2D7D3; color: #fff; }
.in_cart{ background: #19B5FE; color: #fff; }
.checkout{ background: #E87E04; color: #fff; }
.completed{ background: #F5AB35; color: #fff; }
.payd{ background: #4ECDC4; color: #fff; }
.deny{ background: #F22613; color: #fff; }
