!!! XML
%yml_catalog{:date => Time.now}
  %shop
    %name Интернет-магазин электроники Эвотех
    %company Evotex
    %url evotex.kh.ua
    %currencies
      %currency#UAH{:rate => "1"}
    %categories
      - categories.find_each do |category|
        %category{:id => category.id}= category.name
    %local_delivery_cost 30
    %offers
      - words_ary = Conf['txt.words_to_downcase'].split("\n").map{ |w| w.mb_chars.downcase.strip.to_s }
      - categories.find_each do |category|
        - next if category.in?([1267, 1273, 1276, 1240])
        = render collection: category.products_for_price, partial: 'catalog/price_offer', locals: { warranty_id: warranty_id, category: category, offer_available: 'false', with_id: false, words_ary: words_ary }, as: :product

