%ul.list-group{ 'data-sortable' => 'category-filters', 'data-category-id' => @category.id }
  = render partial: 'admin/categories/filter', collection: category_filters.sort_by(&:position), as: :filter
%ul.list-group
  =# render 'admin/categories/new_property'
