%ul.list-group{ 'data-sortable' => 'category-properties', 'data-category-id' => @category.id }
  = render partial: 'admin/categories/property', collection: category_properties.sort_by(&:position), as: :property
%ul.list-group
  = render 'admin/categories/new_property'
