%ul.list-group{ 'data-sortable' => 'category-properties', 'data-category-id' => @category.id }
  - category_properties.sort_by(&:position).each_with_index do |category_property, i|
    = render 'admin/categories/property', property: category_property, position: i
