%li.list-group-item{ 'data-position' => 'position', 'data-id' => property.id }
  .pull-right
    = link_to '#', 'data-destroy-property' => property.id, class: 'btn btn-xs btn-danger' do
      %i.glyphicon.glyphicon-remove
  = property.name
