.page-header
  = link_to new_admin_category_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новая категория
  %h1 Категории

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Действия

    %tbody
      = render @categories
    - if @categories.respond_to?(:current_page)
      %tfoot
        %tr
          %td.text-center
            = paginate @categories
