.row
  .col-sm-6
    %h3.text-center Фильтры
    = render 'admin/products/product_filters', product_filters: @product.product_filters
    .text-right
      = link_to 'Скопировать с категории', copy_filters_admin_product_path(@product), class: 'btn btn-primary', method: :post
  .col-sm-6
    %h3.text-center Характеристики
    = render 'admin/products/properties', product_properties: @product.product_properties
    .text-right
      = link_to 'Скопировать с категории', copy_properties_admin_product_path(@product), class: 'btn btn-primary', method: :post
