.row
  .col-sm-6
    %h3.text-center Фильтры
    = render 'admin/products/product_filters', product_filters: @product.product_filters
  .col-sm-6
    %h3.text-center Характеристики
    = render 'admin/products/properties', product_properties: @product.product_properties
