.page-header
  = link_to admin_products_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Назад
  = link_to @product, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Редактирование товара

= render 'form'
