.page-header
  = link_to new_admin_product_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    Новый товар
  %h1 Товары

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Модель

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= product.model
    %tfoot
      %tr
        %td.text-center{ colspan: 2 }
          = paginate @products
