/*
*= require_tree './admin'
*= require_tree './helpers'
*/
body{
  padding: 0;
}
.navbar-default{
  border-radius: 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-mini{
  font-size: 11px;
}
.inline{
  display: inline!important;
}

body.loading{
  opacity: 0.25;
}
