/*
*= require_tree ./admin
*= require jquery-ui/themes/ui-darkness/jquery-ui
*= require select2
*= require select2-bootstrap
*/
body{
  padding: 0;
}
.navbar-default{
  border-radius: 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-mini{
  font-size: 11px;
}
.inline{
  display: inline!important;
}

.ace_editor{
  height: 100px!important;
  width: 100%;
}

.vendor_pre{
  background: #fff;
  padding: 0.5em;
  max-height: 200px;
  width: 100%;
  overflow: scroll;
}

.modal-backdrop {
  z-index: -1!important;
  display: none;
}

.checkbox{
  label{
    margin: 0;
    padding: 0;
  }
  input[type="checkbox"]{
    margin-top: 0;
  }
}

.checkbox{
  display: inline-block;
  margin-left: 3em;
}
