/*
 *= require nouislider
 *= require nouislider.pips
 *= require_tree ./catalog
*/
@import "variables.scss";
[data-vendor-scraper]{
  display: none;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    display: inline;

  }
}

body{
  margin: 0;
  padding-top: 50px;
  background: image-url('absurdidad.png');
  font-family: 'Exo 2'
}

.product_table{
  background: #fff;
}

#animated-header {
  top: 0;
  position: absolute;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background: transparent;
  height: 392px!important;
  z-index: 1;
  pointer-events:none;

}

.top-bar{
  margin-bottom: 0;
  padding-bottom: 5em;
  color: #fff;
  background: $ksk_main_color;

  @media (min-width: 768px){
    background: image-url('abstr.jpg') no-repeat center top;
    background-size: 100% ;
  }
  h1,h2,h3,h4,h5,h6{
    color: #fff;
  }
}

.catalog-navbar{
  box-shadow: 1px 3px 9px #555;
}

#properties{
  th{
    text-align: center;
  }
  table, th{
    border: none;
  }
  th:first-of-type{
    border-left: #ddd solid 1px;
  }
}

.taxons-container{
  margin-top: -50px;
  position: relative;
  z-index: 99;
  @media (max-width: 768px){
    margin-top: -25px;
    li{
      color: #86E2D5;
    }
  }
}


.taxons{
  position: relative;
  img{
    max-width: 48px;
    max-height: 48px;
    height: 48px;
    display: block;
    margin: auto;
  }

  .dropdown{
    position: static;
    text-align: center;
    vertical-align: middle!important;
  }
  .dropdown-menu{
    width: 100%;
    h4{
      border-bottom: #333 solid 1px;
      font-weight: 800;
    }
    ul{
      list-style: none;
      padding: 0;
    }
  }

  .taxon-name{
    height: 3em;
    span{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .nav{
    width: 100%;
  }

  @media (max-width: 768px){

    & > ul{
      margin: auto;
      display: block;
    }

    .dropdown{
      width: 100%!important;
      display: block;
      margin: auto;
      text-align: left;
      vertical-align: middle;
      .taxon-img{
        max-width: 100%;
      }
      img{
        display: inline;
        width: 100%;
        vertical-align: middle;
      }
      .text-center,
      .taxon-name,
      .taxon-img{
        display: inline!important;
      }
      h4{
        text-align: center;
        border: none;
      }
      a{
        color: #fff;
      }
    }
  }
}

.cd-top{
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 200;
  background: #fff;
  box-shadow: 0px 1px 2px #aaa;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  vertical-align: bottom;
  line-height: 2;
}
