.panel.panel-info
  .panel-heading
    %h4.panel-title= filter.display_name
  .panel-body
    %ul.list-group
      = render collection: filter.values.sort_by(&:position), partial: 'categories/filter_value', as: :filter_value, locals: { products: products }
