.page-header
  %h1{ 'data-url' => category_path(@category) }= @category.name
.row#filters_and_results
  = render 'filters_and_results', filters: @category.category_filters.includes(filter: :values), brands: @category.brands, products: @products
