<% host = Rails.env.development? ? 'localhost:3000' : 'kiosk.evotex.kh.ua' %>
<p>Здравствуйте, <%= @resource.name %>!</p>

<p>С Вашего эмейла поступил запрос на восстановление пароля. Вы можете сделать это, перейдя по ссылке ниже:</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token, host: host) %></p>

<p>Если не Вы создали заявку на восстановление пароля, просто игнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, прежде чем Вы перейдете по ссылке выше</p>
