- if current_user.try(:admin?) && @product
  .panel.panel-default
    .panel-heading
      %h3.panel-title Информация о поставщиках
    .panel-body
      - if (vp = @product.vendor_products.active.includes(:merchant)) && vp.present?
        = render partial: 'admin/vendor/products/product', collection: vp, as: :product
      - else
        Товар не привязан.
    - if @product.fixed_price
      .panel-footer
        %b Цена товара зафиксирована.
.panel.panel-success
  .panel-heading
    .panel-title Режим работы
  .panel-body
    = Conf['ck.mode'].html_safe
.panel.panel-success
  .panel-heading
    .panel-title Телефоны
  .panel-body
    = Conf['ck.phones_and_mode'].html_safe
.panel.panel-success
  .panel-heading
    .panel-title Мы вконтакте
  .panel-body
    = Conf['ck.vk_group'].html_safe
