- @meta_title = Conf['kiosk_meta_title']
- @meta_keywords = Conf['kiosk_meta_description']
- @meta_description = Conf['kiosk_meta_keywords']

= render 'products/slides'
.row
  .col-xs-12
    = render 'products/homepage_tops', hit: @hit, newest: @newest, homepage: @homepage

.row
  .col-xs-12
    .panel-material
      .container
        .col-xs-12= Conf['ck.homepage_seo'].html_safe
