.page-header
  %h1 Все товары
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Название
        %th Модель
    %tbody
      - @products.each do |product|
        %tr
          %td= link_to product.name, product_path(product)
          %td= product.model
    %tfooter
      %tr
        %td.text-center{ colspan: 2 }
          = paginate @products
