= render 'products/slides'
.row
  .col-xs-12
    = render 'products/homepage_tops', hit: @hit, newest: @newest, homepage: @homepage

.row
  .col-xs-12
    .panel-material
      .container
        .col-xs-12= Conf['ck.homepage_seo'].html_safe
