- @meta_title = @product.seo.try(:title).presence || @product.seo_template(:title)
- @meta_keywords = @product.seo.try(:keywords)
- @meta_description = @product.seo.try(:description)
.row
  .col-sm-3
    = render 'aside'
  .col-sm-9
    = render 'products/product_card', product: @product
- if (similars = @product.similars(Conf['delta'].to_f) ) && similars.present?
  .row
    .col-xs-12
      .panel.panel-warning
        .panel-heading
          %h4.panel-title
            Товары, похожие на <b>#{@product.name}</b>
        .panel-body.text-center
          = render collection: @product.similars(Conf['delta'].to_f), partial: 'products/top_card', as: :product, locals: { css: 'info', name: 'Похожий товар' }
