.page-header
  %h1 Изменить характеристику
.row
  = form_for(@property, url: admin_property_path) do |f|
    %ul.list-group
      %li.list-group-item= field_for(f, :name)
    = f.submit 'Отправить', class: 'btn btn-success'
