.product_image
  = link_to p_path(slug: product.slug, id: product.id), title: presents(product).seo_meta_title do
    = image_tag 'lazy-spinner.gif', class: 'img-responsive lazy', 'data-original' => presents(product).preview_path, alt: product.name
