%meta{:charset => "utf-8"}
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
%meta{:content => meta(:description), :name => "description"}
%meta{:content => meta(:author), :name => "author"}
%meta{:content => meta(:keywords), :name => "keywords"}
%title
  = meta(:title) || 'Киоск'
